/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */

#nav{
    height: 20px;
}

#map {
  height: 700px;
  position: relative;
}
  
  /* 
   * Optional: Makes the sample page fill the window. 
   */
/*html,*/
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 250px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-left: 100px;
    margin-bottom: 150px;
}

.styled-table thead tr {
  background-color: #dedee1;
  color: #040404;
  text-align: left;
}

.map1{
  margin-top: 50px;
}

.circle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  opacity: 0.8;
  animation: blink 1s infinite;
}

.hidden {
  opacity: 0;
}

#buttonContainer {
  position: absolute;
  bottom: 50px;
  right: 10px;
  z-index: 1;
}

.table-container{
  height: 250px; /* Adjust the height as per your needs */
  overflow-y: auto;
  margin-bottom: 50px;
  margin-top: 50px;
}
.table-header {
  position: sticky;
  top: 0;
  z-index: 1;
}

.theFooter{
  position: relative;
  top: 100px;
}

